p {
    font-family:monospace;
    color:coral;}

#body {
    width: 875px;

    margin: 10px;
    padding: 10px;
    margin: 10px;
    background-color:plum;}

p {
    width: 800px;
    border: 3px solid;
    padding: 10px;
    margin: 20px;}

.paraone, .parathree {
    color: darkmagenta;
    background-color: white;}

.paratwo, .parafour {
    color:cadetblue;
    background-color: white;}

h1 {color: white;
    width: 900px;
    padding: 10px;
    margin: 10px;
    background-color:darkmagenta;
    font-family: monospace;}

#listone {width: 240px;
    margin: 40px;
    padding: 10px;
    background-color:plum;
    font-family: monospace;}
#wholepage
