@font-face {
    font-family: 'olivias_bank_heistregular';
    src: url('fonts/olivia.knestaut.font-webfont.woff2') format('woff2'),
         url('fonts/olivia.knestaut.font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

#body {
    width: 875px;

    margin: 10px;
    padding: 10px;
    margin: 10px;
    background-color:plum;}

p {
    width: 800px;
    border: 3px solid;
    padding: 10px;
    margin: 20px;
    color:coral;
    font-size: 25px;
    font-family:'olivias_bank_heistregular';}

.paraone, .parathree {
    color: darkmagenta;
    background-color: white;}

.paratwo, .parafour {
    color:cadetblue;
    background-color: white;}

h1 {
    color: white;
    width: 900px;
    padding: 10px;
    margin: 10px;
    background-color:darkmagenta;
    font-size: 50px;
    font-family: 'Sigmar One', cursive;}

#listone {
    width: 240px;
    margin: 40px;
    padding: 10px;
    background-color:plum;
    font-family:'olivias_bank_heistregular';
    font-size: 25px}
